.HomeContainer {
  min-width: 100vw;
  min-height: 100vh;
}
.MountainContainer {
  min-height: 40vh;
  min-width: 100vw;
  max-height: 40vh;
  background: url("https://wallpapercave.com/wp/wp4853028.jpg"),
    rgb(187, 31, 187);
  /* opacity: 0.8; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.MountainContainerCover {
  width: 100vw;
  height: 40vh;
  background-color: fuchsia;
  opacity: 0.4;
}
.BlankDivContainer {
  min-width: 100vw;
  min-height: 60vh;
  max-height: 60vh;
}
