.item-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid black 1px;
}
.task-title-container {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
}
.title-header {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.delete-task-btn {
  width: 10%;
  height: 90%;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.close:before,
.close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 33px;
  background-color: #a8a1a1;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: "";
}
.close:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

.task-done {
  color: rgb(122, 112, 112);
  text-decoration: line-through;
}
