.auth-input-field {
  border-radius: 20px;
  height: 4rem;
  background-color: rgb(201, 202, 199);
  color: rgb(115, 117, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.auth-input-field input {
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  width: 90%;
  font-size: calc(1rem + 1vw);
  font-family: Arial, Helvetica, sans-serif;
}
.auth-input-field-focus {
  box-shadow: 2px 3px 4px black;
  background-color: white;
  color: black;
}
