.signup-container {
  min-width: 100vw;
  min-height: 100vh;

  background: rgb(180, 177, 58);
  background: linear-gradient(
    45deg,
    rgba(180, 177, 58, 1) 0%,
    rgba(230, 76, 117, 1) 29%,
    rgba(226, 158, 117, 1) 57%,
    rgba(233, 217, 189, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: rgb(236, 228, 228);
  min-width: 40vw;
  min-height: 70vh;
  border-radius: 40px;
}
.auth-header-wrapper {
  flex-direction: column;
}
.auth-header {
  font-size: calc(1.5rem + 2vw);
  color: rgb(22, 22, 22);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.first-last-container {
  height: 30px;
}
@media screen and (max-width: 700px) {
  .form {
    min-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .form {
    min-width: 450px;
  }
}
